body {
    font-family: verdana;
    font-size: 12px;
}

.houseStatusContainer {
    height: 300px;
    overflow: auto;
    display: block;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}

li {
    border-radius: 5px;
    background-color: #800014;
    border: 3px solid white;
    color: white;
    box-shadow:5px 5px 3px #888888;
    padding: 10px;
    margin-left: 15px;
}

li.header {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 5px;
}
.step1 {
    background-color: #fff2f4;
    padding: 5px;
}

.step2, .step3, .step4, .step5 {
    display: none;
    background-color: #fff2f4;
    padding: 5px;
}